*{
  box-sizing: border-box;
}

.flash-box{
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  .notice{
    background-color: $light_blue;
  }    
}

.wrapper{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.user-menu__edit-user, .user-menu__new-group, .member-list__member{
  text-decoration: none!important;
}



.side__block{
  width: 300px;
  float: left;

  .side-header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center; 
      padding: 0 20px;
      justify-content: space-between;
      color: #ffffff;
      font-weight:bold;
  }  
      &__user-name{
        height: 16px;
        display: inline-block;
        font-size: 16px;
        float:right;
      }  
  .user-menu{
    display: flex;
    padding: 35px 2px 35px ;
  }  
  .fa-pencil-square-o{
    content: "\f044"; 
    color: white;
  }  
  .fa-cog{
    content:"\f013";
    color: white;
  }

  .side__bottoms{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    overflow: scroll;
    box-sizing: border-box;
    padding: 20px 20px ; 
    &-group__name{
      font-size: 15px;
      margin-bottom: 5px;
      text-align: left;
      color: $white;  
    }  
    &-group__message{
      font-size: 11px;
      margin-bottom: 40px;
      text-align: left;
      color: $white;  
    }
  }
}

.main__block{
  width: calc(100vw - 300px);
  float: left;
}

  .message{
    padding-top: 40px;
  }
  .main-header{
    height: 100px;
    border-bottom: solid 1px #eee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }  
  .current-group__name{
    font-size: 20px;
    color: #333;
    margin-top: 35px;
  }  
  .member-list{
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    color: $gray;
  }  
  .member-list__member{
    height: 12px;
    color: $gray;
    font-size: 12px;
  }

  .main-header__edit-btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px $light_blue;
    color: $light_blue;
  }

  .main__bottom{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background: #fafafa;
    overflow: scroll;  
    .message__text{
      font-size: 14px;
      color: black;
      text-align: left;
    }
  }

  .upper-message {
    display: flex;
    margin-bottom: 10px;  
    &__user-name{
      font-size: 16px;
      font-weight: bold;
      color: black;
    }  
    &__date{
      font-size: 12px;
      margin-left: 10px;
      color: #999999;
    }
  }



  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }

a {
    text-decoration: none;
}
